version: "3.8"
services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DB_TYPE=sqlite
      - DB_NAME=/usr/src/app/participium.db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=change_me
    ports:
      - "5000:5000"
    depends_on:
      - redis
    volumes:
      - ./server/uploads:/usr/src/app/uploads
      - ./server/participium.db:/usr/src/app/participium.db
    restart: unless-stopped

volumes:
  redis-data:
