.avatar-wrapper {
  position: relative;
  margin: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0);
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .25s;
}

.avatar-wrapper:hover .avatar-overlay {
  background: rgba(0,0,0,0.4);
  opacity: 1;
}
